.marginkebawah{
  margin-top: 5px;
  margin-left: 10px;
}

#test5 i{
  margin-top: 5px;
  margin-bottom: 10px;
}

.card-action a{
  margin: 10px;
}

.aturmargin i{
  font-size: 15px;
  padding-top: 10px;
  margin-bottom:10px;
}

.h2color{
  color: #fff;
}
